footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 10px;
}
 footer > .footer-icons, footer > article{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 15px;
    font-size: 1.0rem;
 }